.nav {
  background-color: #001f3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.left-content {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.text {
  color: #fff;
  font-size: 20px;
}

.right-content {
  display: flex;
  align-items: center;
}

.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
